src/teipb/odd/parzival.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>parzival</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2023-05-09Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="parzival" source="teipublisher.odd"> <elementSpec ident="lem" mode="add"/>
                <elementSpec ident="l" mode="change"/>
                <elementSpec ident="seg" mode="change">
                    <model behaviour="inline" cssClass="not-executed">
            <param name="subtype" value="nicht_ausgeführt"/>
            <param name="type" value="Initiale"/>
        </model>
                    <model behaviour="inline" cssClass="verse -change">
            <param name="type" value="Versumstellung"/>
        </model>
                    <model behaviour="inline" cssClass="small-variant">
            <param name="type" value="kleine_Variante"/>
        </model>
                    <model behaviour="inline" cssClass="singular-reading">
            <param name="type" value="singuläre_Lesart"/>
        </model>
                    <model behaviour="inline" cssClass="large-variant">
            <param name="type" value="große_Variante"/>
        </model>
                    <model behaviour="inline" cssClass="capital-initial">
            <param name="type" value="Initiale"/>
            <param name="subtype" value="Großinitiale"/>
        </model>
                    <model behaviour="inline" cssClass="majuscule">
            <param name="subtype" value="Majuskel"/>
            <param name="type" value="Initiale"/>
        </model>
                    <model behaviour="inline" cssClass="glory-initial">
            <param name="subtype" value="Prachtinitiale"/>
            <param name="type" value="Initiale"/>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                    <model behaviour="inline" cssClass="initial" useSourceRendition="true">
            <param name="type" value="Initiale"/>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="name" mode="add">
                    <model behaviour="inline">
            <desc>delete me after testing</desc>
            <param name="content" value="(given-names,surname)"/>
        </model>
                </elementSpec>
                <elementSpec ident="reg" mode="add">
                    <model behaviour="inline" cssClass="syncope">
            <param name="type" value="Synkope"/>
        </model>
                </elementSpec>
                <elementSpec ident="milestone" mode="add">
                    <model behaviour="inline" cssClass="verse -change">
            <param name="unit" value="Versumstellung"/>
        </model>
                </elementSpec>
                <elementSpec ident="subst" mode="add">
                    <model behaviour="inline">
            <param name="hand" value="#ls1"/>
        </model>
                    <model behaviour="inline">
            <param name="hand" value="#sr"/>
        </model>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <model behaviour="inline">
            <param name="hand" value="#sr"/>
        </model>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color: green; text-decoration: underline;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model behaviour="inline" cssClass="deleted"/>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            text-decoration: line-through;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model behaviour="inline" cssClass="note">
            <param name="type" value="Notiz"/>
        </model>
                    <model behaviour="inline" cssClass="marginalia">
            <param name="type" value="marginalie"/>
        </model>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model behaviour="inline" cssClass="underline">
            <param name="rend" value="unterstrichen"/>
        </model>
                    <model behaviour="inline" cssClass="rasure">
            <param name="rend" value="rasur"/>
        </model>
                    <model behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>