src/teipb/odd/parzival.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>parzival</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2023-05-09Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="parzival" source="teipublisher.odd"> <elementSpec ident="lem" mode="add"/>
                <elementSpec ident="l" mode="change"/>
                <elementSpec ident="seg" mode="change">
                    <model predicate="@subtype='nicht_ausgeführt'" behaviour="inline" cssClass="not-executed"/>
                    <model predicate="@type='Versumstellung'" behaviour="inline" cssClass="verse -change"/>
                    <model predicate="@type='kleine_Variante'" behaviour="inline" cssClass="small-variant"/>
                    <model predicate="@type='singuläre_Lesart'" behaviour="inline" cssClass="singular-reading"/>
                    <model predicate="@type='große_Variante'" behaviour="inline" cssClass="large-variant"/>
                    <model predicate="@subtype='Großinitiale'" behaviour="inline" cssClass="capital-initial"/>
                    <model predicate="@subtype='Majuskel'" behaviour="inline" cssClass="majuscule"/>
                    <model predicate="@subtype='Prachtinitiale'" behaviour="inline" cssClass="glory-initial">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                    <model predicate="@type='Initiale'" behaviour="inline" cssClass="initial" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="name" mode="add">
                    <model behaviour="inline">
            <param name="content" value="."/>
            <pb:template xmlns="" xml:space="preserve">.</pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="reg" mode="add">
                    <model predicate="@type='Synkope'" behaviour="inline" cssClass="syncope">
            <param name="type" value="Synkope"/>
        </model>
                </elementSpec>
                <elementSpec ident="milestone" mode="add">
                    <model predicate="@unit='Versumstellung'" behaviour="inline" cssClass="verse -change"/>
                </elementSpec>
                <elementSpec ident="subst" mode="add">
                    <model predicate="@hand='#ls1'" behaviour="inline" cssClass="subst_ls"/>
                    <model predicate="@hand='#sr'" behaviour="inline" cssClass="subst_sr"/>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <model predicate="@hand=&#34;#sr&#34;" behaviour="inline" cssClass="sr"/>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color: green; text-decoration: underline;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model predicate="@hand='#sr'" behaviour="inline" cssClass="del_sr"/>
                    <model behaviour="inline" cssClass="deleted"/>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="@type='Notiz'" behaviour="inline" cssClass="note"/>
                    <model predicate="@type='Marginalie'" behaviour="inline" cssClass="marginalia"/>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='unterstrichen'" behaviour="inline" cssClass="underline"/>
                    <model predicate="@rend='rasur'" behaviour="inline" cssClass="rasure"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>